.right {
  float: right;
}
.mt-10{
  margin-top: 10px;
}

.post {
  h2 {
    margin: 5px;
  }

  .time {
    font-size: 12px;
    color: #666;
  }

  pre {
    background-color: #e5e5e5;
    padding:10px;
  }
}

.qrcode {
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    td {
      border-width: 0; 
      border-style: none;
      border-color: #0000ff; 
      border-collapse: collapse; 
      padding: 0; 
      margin: 0; 
      width: 2px; 
      height: 2px; 
    }
  }
  .black { 
    background-color: #000; 
  }
  .white { 
    background-color: #fff; 
  }
}
