.right {
  float: right;
}
.mt-10{
  margin-top: 10px;
}

.post {
  h2 {
    margin: 5px;
  }

  .time {
    font-size: 12px;
    color: #666;
  }

  pre {
    background-color: #e5e5e5;
    padding:10px;
  }
}

